*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:#b7d85c;
}

/* HEADER */

header{
    background-color:#8ba620;
    height:70px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 40px;
}

.logo{
    color:white;
    font-size:18px;
    font-weight:bold;
}

nav ul{
    list-style:none;
    display:flex;
    gap:35px;
}

nav a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}

/* HERO */

.hero{
    height:100vh;
    position:relative;
    overflow: hidden;

    display:flex;
    justify-content:center;
    align-items:center;
}

.hero h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color:white;
    font-size: 140px;
    font-weight:900;
    white-space: normal;

    z-index: 2;
}

/* IMAGEN */

.imagen-organica{
    position: absolute;
    top: 50%;
    right: -11%;
    transform: translateY(-50%);
    z-index: 1;
}

.imagen-organica img{
    width: 00px;
    height: auto;
}
.menu-section{
    background-color: #dceca8;
    padding: 80px;
    min-height: 100vh;
}

.menu-title{
    color: white;
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 50px;
    margin-left: 20px;
}

.menu-card{
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
}

.menu-card .card-body{
    padding: 20px;
}

.menu-card .card-title{
    font-weight: bold;
    font-size: 18px;
}

.menu-image{
    width: 100%;
    max-width: 500px;
}
.mujer-img {
    width: 620px; !important
    height: auto;
}
.comida-img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 15px;
}
.imagen-verduras img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0% !important;
   
}
.foto-menu {
    width: 650px !important;
    max-width: none !important;
    height: auto;
    margin-right: 20px;
}

.titulo-responde{
    padding-top: 60px;
    padding-bottom: 80px;
}

.titulo-responde h1{
    font-size: 90px;
    font-weight: 300;
    color: #8cab13;
    font-style: italic;
    margin-bottom: 0;
}

.titulo-responde h2{
    font-size: 55px;
    font-weight: 300;
    color: #8cab13;
    font-style: italic;
}
@media (max-width: 768px){

    .titulo-responde h1{
        font-size: 55px;
    }

    .titulo-responde h2{
        font-size: 35px;
    }

}

.responde-card{
    border-radius: 30px;
    border: none;
    background-color: #f5efe8;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.10);
}

.pregunta{
    color: #26456b;
    font-size: 28px;
    font-weight: bold;
}

.respuesta{
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    color: #26456b;
}

.linea-divisoria{
    width: 100%;
    height: 4px;
    background-color: #8cab13;
    margin-top: 120px;
    margin-bottom: 80px;
    border-radius: 10px;
}

.titulo-reserva{
    background-color: #8cab13;
    
    color: white;

    font-size: 55px;

    font-weight: 800;

    line-height: 1.1;

    display: inline-block;

    padding: 25px 55px;

    border-radius: 25px;

    box-shadow: 0 8px 18px rgba(0,0,0,0.10);
}

.reserva-box{
    background-color: #8cab13;

    padding: 35px;

    border-radius: 25px;

    box-shadow: 0 10px 20px rgba(0,0,0,0.10);
}

.reserva-box label{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.reserva-box-small{
    background-color: #a6c62a;

    padding: 30px;

    border-radius: 25px;

    box-shadow: 0 10px 20px rgba(0,0,0,0.10);

    height: 100%;
}

.reserva-card{
    background-color: #a6c62a;

    padding: 30px;

    border-radius: 25px;

    box-shadow: 0 10px 20px rgba(0,0,0,0.10);

    height: 100%;
}

.reserva-card label{
    color: white;

    font-size: 28px;

    font-weight: 800;

    margin-bottom: 15px;
}
